* {
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
}

h1 {
    text-align: center;
    padding: 15px;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto;
}

th {
    width: 25%;
    border: 1px solid #dfd8d8;
    background-color: #f2f2f2;
    padding: 10px;
}

td {
    border: 1px solid #dfd8d8;
    padding: 10px;
    text-align: center;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 1rem;
}

img {
    max-width: 100px;
}